@page "/"
@using BlazorApp13.Data

<PageTitle>商品管理</PageTitle>

<h1>商品管理</h1>
<MudDataGrid T="Product" Items="@Products"  EditMode="@(DataGridEditMode.Form)" ReadOnly="false"
             Bordered="true" Dense="true" EditTrigger="@(DataGridEditTrigger.Manual)" CommittedItemChanges="UpdateProduct">
    <Columns>
        <PropertyColumn Property="x => x.ProductName" Title="商品名" />
        <PropertyColumn Property="x => x.Price" Title="価格" />
        <PropertyColumn Property="x => x.Misc" Title="その他備考" />
        <TemplateColumn CellClass="d-flex justify-end">
            <CellTemplate>
                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@context.Actions.StartEditingItemAsync" />
                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" OnClick="@(x => DeleteProduct(context.Item))" />
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>


<MudDivider Class="pa-2 ma-2"></MudDivider>
<p>新規追加</p>

<MudTextField @bind-Value="NewProdName" Label="名前" Variant="Variant.Outlined"></MudTextField>
<MudNumericField @bind-Value="NewProdPrice" Min="0" Immediate="true" Label="価格" Variant="Variant.Outlined" Class="d-flex jusify-end" />
<MudTextField @bind-Value="NewProdMisc" Label="その他備考" Variant="Variant.Outlined"></MudTextField>

<MudButton Color="Color.Primary" OnClick="@(x => InsertProduct(NewProdName,NewProdPrice,NewProdMisc))" Variant="Variant.Filled">登録</MudButton>